*{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans Condensed';
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-image: url(../images/background.png);
    background-repeat: repeat;
    background-attachment: local;
    background-size: auto;
    animation: 15s linear .1s urlfondo infinite alternate-reverse;
}

@keyframes urlfondo {
    from{
        background-position: top center;
    }
    to{
        bottom: center top;
    }
}

main{
    height: 100%;
}


header{
    height: 250px;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


figure {
    display: inline-flex;
    width: 50%;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
    color:   #F7F6F2;
}

.fig {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 160px;
    width: 50%;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}



.fig__img{
    max-height: 100px;
    width: 100px;

}

.fig__img:hover{
    animation: 5s .001s spin infinite alternate-reverse;
}

@keyframes spin{
    from {
        border: 1px solid black;
        border-radius: 50px;
        transform:rotate(0deg);
    }
    to {
        border: 1px solid black;
        border-radius: 50px;
        transform:rotate(360deg);
    }
}


.fig__cap{
    width: 50%;
}

.fig__cap a{
    color: #F7F6F2;
    -webkit-text-stroke: 1px black;
    height: 100px;
    text-decoration: none;
}

.fig__cap a:hover{
    color: #F7F6F2;
    text-decoration: none;
    animation: 3s texto infinite alternate-reverse;
}

@keyframes texto{
    from{
        -webkit-text-stroke: 1px white;
    }
    to{
        -webkit-text-stroke: 1px black;
    }

}


nav {
    display: flex;
    width: 50%;
    font-weight: 500;
    flex-direction: column;
    justify-content: center;
    align-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
}

.nav a{
    margin: 0px 20px;
    padding: 0px 5px;
    color:#F7F6F2;
    text-decoration: none;
}

.nav a:hover{
    color: #f5f4ef;
    text-decoration: none;
    font-weight: 600;
}

.nav a:active{
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
}

.nav__ul{    
    display: flex;
    list-style-type: disc;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
    justify-content: flex-end;
    margin-left: 3%;
    margin-right: 3%;
}

.nav__li{
    display: flex;
    padding: 0px 3px;
    font-size: 23px;
}

.section {
    margin-top: 50px;
    color: #f5f4ef;
    text-shadow: 1px 1px 3px #250448;
    display: flex;
    width: 100%;
    font-weight: 500;
    border-bottom: blue;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: space-around;
    text-align: center;
}


.welcome{
    display: flex;
    width: 100%;
    height: 390px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-bottom: 100px;
}


.welcome h2{
    color: #f5f4ef;
    width: auto;
    font-size: 7vh;
}

h2 {
    text-shadow: 0px 0px 4px #250448;
    margin-top: 10px;
    color: #00ebea;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;

}

.section__text{
    margin: 15px 0px;
    padding: 5px 10px;
    color: white;
    text-align: center;
    width: 100%;
}

.formulario{
    margin-bottom: 30px;
}

.boton{
    width: 100px;
    height: 70px;
    padding: 8px;
    border: 2px solid #fdcb01;
    background-color: rgba(90, 230, 255, 0.8);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    text-shadow: 0px 0px 4px #250448;
    text-align: center;
}

.boton:hover{
    background-color: #01cece;
    border: none;
    border-radius: 3px;
}

.boton:active{
    background-color: #00ffff;
    border: 2px solid #f1ee1e;
    border-radius: 10px;
 }


.footer{
    display: flex;
    width: 100%;
    height: 160px;
    background: #fdcb01;
    color: #F7F6F2;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.footer p{
    margin-right: 0px;
}

.footer a{
        color:#F7F6F2;
        text-decoration:none; 
}

.footer a:hover{
    color:#dee5ed;
    text-shadow: 1px;
}

.contacto{
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.footer__ul{    
    display: flex;
    list-style-type: disc;
    margin: auto;
    padding: 0px;
}

.footer__li{
    padding: 5px;
    display: flex;
    list-style-type: disc;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.footer__li img{
    border-radius: 50px;
    box-shadow: 1px 1px 1px 0px grey;
    width: 20px;
    height: 20px;
}