*{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans Condensed';
}

header{
    background: #4B6587;
    height: 100px;
    display: flex;
}

figure {
    display: inline-flex;
    width: 50%;
    height: -webkit-fill-available;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
    color:   #F7F6F2;
}

nav {

    display: inline-flex;
    width: 50%;
    height: -webkit-fill-available;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-weight: 600;
}

.nav a{
    color:#F7F6F2;
    text-decoration: none;
}

.nav__ul{    
        display: block;
        list-style-type: disc;
        margin-block-start: 5px;
        margin-block-end: 5px;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
}

.nav__li{
    display: inline;
    padding: 5px;
    font-size: 20px;
}

main{
    background: #C8C6C6;
}

section{
    background: #F0E5CF;
}

footer{
    background: #4B6587;
    color: black;
    
}